.home-fundo {                                   /*Usando*/
    background-image: url("../img/fun.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Arial';

    align-items: center;
    text-align: center;
}


.menuPrinc {/*Antigo navBar*/
    background-color:#e3e5e8;
    margin: 0 auto;
    border-radius:13px; 
    display: block; 
    float: none !important;
    width:80%;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
     }


.menuSanduiche {/* antigo navbar-toggler*/
    position: absolute;
    top: 23px;
  
    border-radius: 40px;
}

.linksMenu {/*Link imagem centro*/
    background-color: tomato;}

.fundoMenuSanduiche{/*dropright*/ /*Usando*/
    font-size: 22px;
    text-align: center;
    align-items: center;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(13px);
    filter: blur(0px);
}

#vlrApelido{
    color:white;
    font-size: 150%;
}

.subMenuInterno{/*dropright*/ /*Usando*/
    font-size: 18px;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(13px);
    filter: blur(0px);
}


.divMsgCentro{/*Usando*/
position: relative;
margin-top: 150px;
}

.msgCentro {/*container-fluid*/    /*Usando*/
    color:white;
    font-size: 25px;

}

.btn_queSomos{/*btn_que*/        /* Usando*/
    border-radius:13px;
    margin: 0 auto;
    width: 150px;
    height: 40px;
    font-size: 18px;
}